<article class="review">

  <% user = User.find r.user_id %>
    <p>User: <%= user.name %></p>
    <p>User email (inspect): <%= user.email %></p>
    <p>Current user (inspect): <%= current_user.email %></p>
    <p>Rating: <%= r.rating %></p>
    <p>Description: <%= r.description%></p>


    <% if current_user.email == user.email %>
      <%= link_to 'Delete', product_path(@product),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
      <% end %>
</article>

